:root {
  --my-color-red: hsl(350, 100%, 60%);
  --my-color-blue: hsl(200, 100%, 60%);
  --my-color-red-dim: hsl(350, 100%, 95%);
  --my-color-blue-dim: hsl(200, 100%, 95%);
}

ul a > img {
  filter: contrast(0);
}
ul a.active {
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--my-color-red);
}
ul a.active > img {
  filter: invert(1);
}
ul a:hover:not(.active) {
  color: var(--my-color-red);
}
ul a:hover:not(.active) > img {
  filter: contrast(0) sepia(1) hue-rotate(310deg) saturate(1000%);
}

.img-primary {
  filter: contrast(0) sepia(1) hue-rotate(310deg) saturate(1000%);
}

.card button img {
  filter: contrast(0) sepia(1) hue-rotate(180deg) saturate(1000%);
}
.card:first-of-type button img {
  filter: contrast(0) sepia(1) hue-rotate(310deg) saturate(1000%);
}
